.pdf {
  width: 794px;
  height: auto;
  background-color: rgb(255, 255, 255);
  /* background-image: url("/img1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  color: black;
  margin: 0 auto;
  padding: 0;
}
